/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
	color: #224870;
}

footer {
	padding: 0.7;
	background-color:#122C34;
}
h2 {
	text-align: center;
}
a{
	color: #4EA5D9;
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
	background: #122C34;
	overflow-y: auto;
}


#header .profile img{
	margin: 15px auto;
	display: block;
	width: 120px;
	border: 2px solid #44CFCB;
}

#header .profile h1{
	color: white;
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	-moz-text-align-last: center;
	text-align: center;
	font-family: "Poppins", sans-serif;
}

#header .profile .social-links a{
	font-size: 18px;
	display: inline-block;
	border-color: #fff;
	color: white;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;

}

#header .profile .social-links a:hover{
	background: #44CFCB;
	color: #fff;
	text-decoration: none;
}

#header .profile h1 a,
#header .profile h1 a:hover{
	color: #fff;
	text-decoration: none;
}

#main{
	margin-left: 300px;
}

@media (max-width: 1199px) {
	#header{
		left: -300px;
	}
	#main {
		margin-left: 0;
	}
}

/*Navbar*/
.nav-menu {
	padding-top: 30px;
}

.nav-menu > ul >li {
	position: relative;
	white-space: nowrap;
	list-style: none;
}

.nav-menu a{
	display: flex;
	align-items: center;
	color: white;
	padding: 12px 15px;
	margin-bottom: 8px;
	transition: 0.3s;
	font-size: 15px;

}

.nav-menu a i{
	font-size: 24px;
	padding-right: 8px;
	color: #4EA5D9;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
	text-decoration: none;
	color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active > a > i,
.nav-menu li:hover > a > i {
	color: #4EA5D9;
}

.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i{
	color: white;
}

.mobile-nav-active {
	overflow: hidden;

}

,mobile-nav-active #header {
	left: 0;
}

.mobile-nav-active .mobile-nav-toggle{
	color: #fff;
}

#hero {
	width: 100%;
	height: 100vh;
	background: url("./image/heropic.jpg") top center;
	background-size: cover;
}

#hero::before {
	content: "";
	background: rgba(5, 50, 50, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#hero .hero-container{
	position: relative;
	z-index: 2;
	min-width: 300px;

}

#hero h1{
	margin: 0 0 10px 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;

}

#hero p{
	color: #fff;
	margin-bottom: 50px;
	font-size: 34px;
	font-family: "Poppins", sans-serif;
}
 

.skills .progress {
	height: 50px;
	display: block;
	background: none;
}

.skills .progress .skill{
	padding: 10px;
	margin: 0 0 6px 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #050d18;
}

.skills .progress .skill .val {
	float: right;
	font-style: normal;
}

.skills .progress-bar-wrap {
	background: #dce8f8;
}

.skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #122C34;
}
form {
	align-items: center;
	color: black;
	text-align: center;
}

input[required] {
	border-width: 2px;
	
	width: 100%;
}

button	{
	color: black;
	background-color: #44CFCB;
	border-radius: 15px;
	box-shadow: 0 2px 4px; rgba(0, 0, 0, 0.3)
	padding: 3px;
	margin-top: 2px;

}


#pre-footer {
	padding: 1rem;
	background-color: #122C34;
	color: white;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;

}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}